{% extends 'main.html' %}

{% load static %}

{% block content %}

<!-- main -->
<main class="page">
    <!-- header -->
    <header class="hero">
      <div class="hero-container">
        <div class="hero-text">
          <h1>simply recipes</h1>
          <h4>no fluff, just recipes</h4>
          <form action="{% url 'recipes' %}" method="get">
            <input type="text" name="search" placeholder="Search recipes here..." value="{{search}}">
          </form>
        </div>
      </div>
    </header>
    <!-- end of header -->
    <section class="recipes-container">
      <!-- tag container -->
      <div class="tags-container">
        <h4>Recipes</h4>
        <a href="{% url 'recipes' %}">All </a>
        <div class="tags-list">
          {% for tag in tags %}
              <a href="{% url 'recipes' %}?search={{tag.name}}">{{tag}} </a>
          {% endfor %}
        </div>
      </div>
      <!-- end of tag container -->

      <!-- recipes list -->
      <div class="recipes-list">
        {% for recipe in recipes %}
            <!-- single recipe -->
            <a href="{% url 'recipe' recipe.id %}" class="recipe1">
              <img src="{{recipe.recipe_image.url}}"
                class="img recipe-img"
                alt="{{recipe.title}}"  />
              <h5>{{recipe.title}}</h5>
              <p>Prep : {{recipe.prep_time}}min | Cook : {{recipe.cook_time}}min</p>
            </a>
            <!-- end of single recipe -->
        {% endfor %}
      </div>
      <!-- end of recipes list -->
    </section>
  </main>
  <!-- end of main -->

{% endblock %}