{% extends 'main.html' %}

{% block content %}

<main class="page">
  <div class="recipe-page">
    <section class="recipe-hero">
      <img
        src="{{recipe.recipe_image.url}}"
        class="img recipe-hero-img"
        alt="{{recipe.title}}"
      />
      <article class="recipe-info">
        <h2>{{recipe.title}}</h2>
        <p>{{recipe.description}}</p>
        <div class="recipe-icons">
          <article>
            <i class="fas fa-clock"></i>
            <h5>prep time</h5>
            <p>{{recipe.prep_time}} min.</p>
          </article>
          <article>
            <i class="far fa-clock"></i>
            <h5>cook time</h5>
            <p>{{recipe.cook_time}} min.</p>
          </article>
          <article>
            <i class="fas fa-user-friends"></i>
            <h5>serving</h5>
            <p>{{recipe.serving}} servings</p>
          </article>
        </div>
        
      </article>
    </section>
    <!-- content -->
    <section class="recipe-content">
      <article>
        <h4>instructions</h4>
        {% for instruction in instructions %}
        <!-- single instruction -->
        <div class="single-instruction">
          {% if instruction %}
            <header>
              <p>step {{forloop.counter}}</p>
              <div></div>
            </header>
            <p>{{instruction}}.</p>
          {% endif %}
        </div>
        <!-- end of single instruction -->
        {% endfor %}
        
      </article>
      <article class="second-column">
        <div>
          <h4>ingredients</h4>
          {% for ingredient in ingredients %}
            {% if ingredient %}
              <p class="single-ingredient">{{ingredient}}</p>
            {% endif %}
          {% endfor %}
        </div>
      </article>
    </section>
  </div>
</main>

{% endblock %}
