<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simply Recipes || Final</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>

    <!-- main -->
    <main class="page">
      <!-- header -->
      <header class="hero">
        <div class="hero-container">
          <div class="hero-text">
            <h1>simply recipes</h1>
            <h4>no fluff, just recipes</h4>
          </div>
        </div>
      </header>
      <!-- end of header -->
      <section class="recipes-container">
        <!-- tag container -->
        <div class="tags-container">
          <h4>recipes</h4>
          <div class="tags-list">
            <a href="beef.html">Beef </a>
            <a href="chicken.html">Chicken </a>
            <a href="carrot.html">Carrot </a>
            <a href="breakfast.html">Breakfast </a>
            <a href="dinner.html">Dinner </a>
          </div>
        </div>
        <!-- end of tag container -->
        <!-- recipes list -->
        <div class="recipes-list">
          <!-- single recipe -->
          <a href="carne-asada-receipe.html" class="recipe">
            <img
              src="./assets/recipes/carne-asada.jpeg"
              class="img recipe-img"
              alt="Carne Asada"
            />
            <h5>Carne Asada</h5>
            <p>Prep : 120min | Cook : 20min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="greek-ribs-receipe.html" class="recipe">
            <img
              src="./assets/recipes/greek-ribs.jpeg"
              class="img recipe-img"
              alt="Greek Ribs"
            />
            <h5>Greek Ribs</h5>
            <p>Prep : 30min | Cook : 110min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="vegetable-soup-receipe.html" class="recipe">
            <img
              src="./assets/recipes/vegetable-soup.jpeg"
              class="img recipe-img"
              alt="Vegetable Soup"
            />
            <h5>Vegetable Soup</h5>
            <p>Prep : 10min | Cook : 30min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="banana-pancake-receipe.html" class="recipe">
            <img
              src="./assets/recipes/banana-pancake.jpeg"
              class="img recipe-img"
              alt="Banana Pancakes"
            />
            <h5>Banana Pancakes</h5>
            <p>Prep : 5min | Cook : 10min</p>
          </a>
          <!-- end of single recipe -->
           <!-- single recipe -->
          <a href="beef-steak-receipe.html" class="recipe">
            <img
              src="./assets/recipes/beef-steak.jpg"
              class="img recipe-img"
              alt="Beef Steak"
            />
            <h5>Beef Steak</h5>
            <p>Prep : 10min | Cook : 50min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="beef-fillets-receipe.html" class="recipe">
            <img
              src="./assets/recipes/Beef-Fillets-with-Portobello-Sauce.jpg"
              class="img recipe-img"
              alt="Beef Fillets with Portobello Sauce"
            />
            <h5>Beef Fillets with Portobello Sauce</h5>
            <p>Prep : 10min | Cook : 50min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="beef-tenderloin-receipe.html" class="recipe">
            <img
              src="./assets/recipes/Beef-Tenderloin-in-Mushroom-Sauce.jpg"
              class="img recipe-img"
              alt="Beef Tenderloin in Mushroom Sauce"
            />
            <h5>Beef Tenderloin in Mushroom Sauce</h5>
            <p>Prep : 10min | Cook : 50min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="peach-glazed-beef-filets.html" class="recipe">
            <img
              src="./assets/recipes/Peach-Glazed-Beef-Filets.jpg"
              class="img recipe-img"
              alt="Peach Glazed Beef Filets"
            />
            <h5>Peach Glazed Beef Filets</h5>
            <p>Prep : 10min | Cook : 50min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="apple-omelet-receipe.html" class="recipe">
            <img
              src="./assets/recipes/apple-omelet.jpg" 
              class="img recipe-img"
              alt="Apple and Veggie Omelet"
            />
            <h5>Apple and Veggie Omelet</h5>
            <p>Prep : 10min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="blueberry_buttermilk_muffin-receipe.html" class="recipe">
            <img
              src="./assets/recipes/VeryBlueberryButtermilkMuffins.jpeg"
              class="img recipe-img"
              alt="Blueberry Buttermilk Muffins"
            />
            <h5>Blueberry Buttermilk Muffins</h5>
            <p>Prep : 10min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="egg-kale-sweet-potato-breakfast--receipe.html" class="recipe">
            <img
              src="./assets/recipes/Egg-Kale-Sweet-otato-Breakfast-Casserole.jpg"
              class="img recipe-img"
              alt="Egg Kale Sweet Potato Breakfast Casserole"
            />
            <h5>Egg Kale Sweet Potato Breakfast Casserole</h5>
            <p>Prep : 10min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="easy-microwaves-meals-receipe.html" class="recipe">
            <img
              src="./assets/recipes/Easy-Microwaves-Meals.jpg"
              class="img recipe-img"
              alt="Easy Microwaves Meals"
            />
            <h5>Easy Microwaves Meals</h5>
            <p>Prep : 10min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="hole-in-one-tost-receipe.html" class="recipe">
            <img
              src="./assets/recipes/Hole-in-One-Toast.jpeg"
              class="img recipe-img"
              alt="Hole in One Toast"
            />
            <h5>Hole in One Toast</h5>
            <p>Prep : 10min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="carrot-masala-receipe.html" class="recipe">
            <img
              src="./assets/recipes/carrot-masala.jpg" 
              class="img recipe-img"
              alt="Carrot Masala"
            />
            <h5>Carrot Masala</h5>
            <p>Prep : 30min | Cook : 70min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="carrot-cake-receipe.html" class="recipe">
            <img
              src="./assets/recipes/carrot-cake.jpg"
              class="img recipe-img"
              alt="Carrot Cake"
            />
            <h5>Carrot Cake</h5>
            <p>Prep : 15min | Cook : 50min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="carrot-kale-stew-receipe.html" class="recipe">
            <img
              src="./assets/recipes/carrot-kale-stew.jpg"
              class="img recipe-img"
              alt="Carrot Kale Stew"
            />
            <h5>Carrot Kale Stew</h5>
            <p>Prep : 15min | Cook : 30min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="carrot-radish-soup-receipe.html" class="recipe">
            <img
              src="./assets/recipes/carrot-and-radish-soup.jpg"
              class="img recipe-img"
              alt="Carrot and Radish Soup"
            />
            <h5>Carrot and Radish Soup</h5>
            <p>Prep : 15min | Cook : 180min</p>
          </a>
          <!-- end of single recipe -->
           <!-- single recipe -->
          <a href="creamy-chicken-receipe.html" class="recipe">
            <img
              src="./assets/recipes/creamy-chicken-gnocchi.jpg" 
              class="img recipe-img"
              alt="One-Pan Creamy Chicken & Gnocchi"
            />
            <h5>One-Pan Creamy Chicken & Gnocchi</h5>
            <p>Prep : 15min | Cook : 40min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="chickenflautas-receipe.html" class="recipe">
            <img
              src="./assets/recipes/chickenflautas.jpg"
              class="img recipe-img"
              alt="Chicken Flautas"
            />
            <h5>Chicken Flautas</h5>
            <p>Prep : 10min | Cook : 20min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="chicken-pasta-receipe.html" class="recipe">
            <img
              src="./assets/recipes/chicken-parm-pasta.jpg"
              class="img recipe-img"
              alt="Chicken Parmesan Pasta"
            />
            <h5>Chicken Parmesan Pasta</h5>
            <p>Prep : 20min | Cook : 70min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="chicken-quesadilla-receipe.html" class="recipe">
            <img
              src="./assets/recipes/chicken-quesadilla.jpg"
              class="img recipe-img"
              alt="Chicken Quesadilla"
            />
            <h5>Chicken Quesadilla</h5>
            <p>Prep : 10min | Cook : 40min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="Crockpot%20Chicken%20and%20Gravy%20Recipe.html" class="recipe">
            <img
              src="./assets/recipes/crockpot-chicken-and-gravy.jpg"
              class="img recipe-img"
              alt="Crockpot Chicken and Gravy Recipe"
            />
            <h5>Crockpot Chicken and Gravy Recipe</h5>
            <p>Prep : 120min | Cook : 20min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="Swedish%20Meatballs%20Recipe.html" class="recipe">
            <img
              src="./assets/recipes/swedish-meatballs.jpg"
              class="img recipe-img"
              alt="Swedish Meatballs Recipe"
            />
            <h5>Swedish Meatballs Recipe</h5>
            <p>Prep : 15min | Cook : 5min</p>
          </a>
          <!-- end of single recipe -->
        </div>
        <!-- end of recipes list -->
      </section>
    </main>
    <!-- end of main -->
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">SimplyRecipes</span> Built by
        <span class="footer-logo">Team Alpha</span>
      </p>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
