{% extends 'main.html' %}

{% load static %}

{% block content %}

<main class="page">
<!-- HTML content -->
<!-- <h1>Welcome Back to Recipe Website</h1> -->
<div class="container">
  <div class="signin-form">
    <!-- <h2>Sign In to Access Your Account</h2> -->
    <h2 style="margin-bottom: 30px;">Sign In</h2>
    <form action="" method="post">
      {% csrf_token %}
      <label for="username"><b>Username:</b></label>
      <input type="username" id="username" name="username" placeholder="Enter your username" required>
      <label for="password"><b>Password:</b></label>
      <input type="password" id="password" name="password" placeholder="••••••••••••••••" required>
      <input type="submit" value="Sign In">
      <p>Don't have an account yet? <a href="{% url 'register' %}" class="have">Sign up</a></p>
    </form>
  </div>
  <div class="signin-image">
    <img src="{% static 'recipes.png' %}" alt="Signin Image">
  </div>
</div>
</main>
{% endblock %}
  
